@import '../../../styles/variables.scss';

.header-container {
    height: 80vh;
    min-height: 400px;
    max-height: 600px;

    .svgHero {
        min-height: 400px;
        max-height: 600px;
    }

    .header-left {
        width: 100%;
        height: 100%;
        background: $primary-color;
        position: absolute;

    }
}



.scroll-btn {
    top: 90vh;
    position: absolute;
    left: calc(50vw - 30px);
    text-decoration: none;
    color: white;
    font-size: 0.7rem;
    font-weight: 600;
}

.logo-brand {
    top: 30px;
    left: 40px;
    // top: 50%;
    // left: 50%;
    position: absolute;
}

.code-label {
    position: relative;
    // top: calc(50% - 86px);
    top: calc(50% - 171px);   
    left: 30px;

}

@media screen and (max-width: 915px) {
     
    .code-label {
        // top: calc(50% - 174px);    
        top: calc(50% - 86px);
    }
}
.design-label {
    position: relative;
    float: right;
    top: calc(50% - 86px);
    right: 30px;
}